body, html {
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #7F7F7F;
}

.auth-container {
    width: 350px;
    padding: 20px;
    background: #000;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.4), -6px -6px 12px rgba(255, 255, 255, 0.2);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.auth-title {
    font-size: 22px;
    margin-bottom: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.auth-input {
    width: 80%;
    max-width: 280px;
    padding: 12px;
    margin: 10px 0;
    border: none;
    background: #3d3b40;
    color: white;
    font-size: 14px;
    outline: none;
    text-align: center;
}


    .auth-input:focus {
        background: #555;
    }

.auth-button {
    width: 100%;
    padding: 12px;
    background: #f5b041;
    border: none;
    font-size: 14px;
    color: #1b1b1b;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    text-transform: uppercase;
}

    .auth-button:hover {
        background: #e67e22;
    }

.auth-link {
    margin-top: 10px;
    display: block;
    color: #f5b041;
    text-decoration: none;
    font-size: 12px;
}

    .auth-link:hover {
        text-decoration: underline;
    }
