<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>p5.js example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/p5.min.js') }}"></script>
</head>

<body>
    <div class="pause" id="button-pause">
        <button class="boton" id="pause">Pause</button>
    </div>

    <div class="content" id="pause-box">
        <button class="boton" id="resume">Resume</button>
        <button class="boton" id="home" onclick="window.location.href='/'">Home</button>
    </div>

    <div class="waiting">
        <h1>Waiting for another player to join</h1>
    </div>
    <script src="{{ url_for('static', filename='js/client.js')}}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/pieces.js') }}"></script>
    <script src="{{ url_for('static', filename='js/buttons.js') }}"></script>
</body>

</html>