<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChubesS | Moves</title>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/p5.min.js') }}"></script>
</head>

<body>
    <div class="pause" id="button-pause">
        <button class="boton" id="pause">Pause</button>
    </div>

    <div class="pieces">
        <button onclick="choosePiece(1)"><img src="{{ url_for('static', filename='img/white_pawn.png') }}"></button>
        <button onclick="choosePiece(2)"><img src="{{ url_for('static', filename='img/white_knight.png') }}"></button>
        <button onclick="choosePiece(3)"><img src="{{ url_for('static', filename='img/white_bishop.png') }}"></button>
        <button onclick="choosePiece(4)"><img src="{{ url_for('static', filename='img/white_rook.png') }}"></button>
        <button onclick="choosePiece(5)"><img src="{{ url_for('static', filename='img/white_queen.png') }}"></button>
        <button onclick="choosePiece(6)"><img src="{{ url_for('static', filename='img/white_king.png') }}"></button>
    </div>

    <div class="promote-white">
        <button id="2" onclick="promotionId=2"><img src="{{ url_for('static', filename='img/white_knight.png') }}"></button>
        <button id="3" onclick="promotionId=3"><img src="{{ url_for('static', filename='img/white_bishop.png') }}"></button>
        <button id="4" onclick="promotionId=4"><img src="{{ url_for('static', filename='img/white_rook.png') }}"></button>
        <button id="5" onclick="promotionId=5"><img src="{{ url_for('static', filename='img/white_queen.png') }}"></button>
    </div>

    <div class="promote-black">
        <button id="8" onclick="promotionId=8"><img src="{{ url_for('static', filename='img/black_knight.png') }}"></button>
        <button id="9" onclick="promotionId=9"><img src="{{ url_for('static', filename='img/black_bishop.png') }}"></button>
        <button id="10" onclick="promotionId=10"><img src="{{ url_for('static', filename='img/black_rook.png') }}"></button>
        <button id="11" onclick="promotionId=11"><img src="{{ url_for('static', filename='img/black_queen.png') }}"></button>
    </div>

    <div class="content" id="pause-box">
        <div class="pause-text">
            <img src="{{ url_for('static', filename='img/gamepaused.png') }}" />
        </div>
        <button class="boton" id="resume">Resume</button>
        <button class="boton" id="settings">Settings</button>
        <button class="boton" id="home" onclick="window.location.href='/main'">Home</button>
    </div>

    <div class="content" id="settings-box">
        <div class="settings-text">
            <img src="{{ url_for('static', filename='img/settings.png') }}" />
        </div>
        <div class="slider-container">
            <label for="speed" class="slider-label">Speed : </label>
            <input type="range" class="slider" id="speed" name="speed" min="0" max="20" step="1" value="5">
            <span id="speedValue" class="slider-value">5</span>
        </div>
        <div class="slider-container">
            <label for="sens" class="slider-label">Sensitivity: </label>
            <input type="range" class="slider" id="sens" name="sens" min="0" max="100" step="1" value="50">
            <span id="sensValue" class="slider-value">50</span>
        </div>
        <button class="boton" id="ok" onclick="sendValues()">Ok</button>
    </div>

    <script src="{{ url_for('static', filename='js/pieces.js') }}"></script>
    <script src="{{ url_for('static', filename='js/choosePiece.js') }}"></script>
    <script>
        let showMoves = true;
        choosePiece(1);
        let isWhite = true;
    </script>
    <script src="{{ url_for('static', filename='js/buttons.js') }}"></script>
    <script src="{{ url_for('static', filename='js/moves.js') }}"></script>
    <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
</body>

</html>
